{% extends 'base.html' %} 
{% block content %}
<div class="roomsite">
  <div class="message-box">
  <h2>Room: {{code}}</h2>
  <h4 id="maxplayer">Players: 1/8</h4>
  <h4 id="bettingamount"></h4>
  <div class="messages" id="messages"></div>
  <div class="inputs">
    <input type="text" rows="3" placeholder="Message" name="message" id="message"/>
    <button type="button"  name="send" id="send-btn" onClick="sendMessage()">
      Send
    </button>
      <p> Bet: <input type = "text" name = "bet" id="bet" /></p>
      <button type="button" name="betbutton" id="check-button" onClick="bet()">Bet </button>
      <button type="button" name="check" id="check-button" onClick="check()">Check </button>
      <button type="button" name="fold" id="fold-button" onClick="fold()">Fold </button>
  </div>
</div>


<script type="text/javascript">

  let sesdata=sessionStorage.getItem("your_turn")
  
  if(sesdata === undefined || sesdata == null || sesdata.length <= 0){
     console.log("true")
     sessionStorage.setItem("your_turn", 1);
  }


  var socketio = io();

  const messages = document.getElementById("messages");



  socketio.on("TurnsInPoker", (data)=>{
    console.log("reaches here ", data.Pos, data.Event)
    sessionStorage.setItem("Pos", data.Pos);
    let sesdata =sessionStorage.getItem("Pos")
    console.log("also reaches here ",sesdata)
  })

  socketio.on("button_response", (data)=> {
    console.log(data.response)
    console.log("hellooooo",data.your_turn)
    sessionStorage.setItem("your_turn", data.your_turn)

  });

  socketio.on("update_values", (data) => { //update the values in maxplayer count 
    const values = document.getElementById("maxplayer");
    console.log("Maxplayers",data.data)
    values.innerHTML=`Players: ${data.data}/8`;

  });

  socketio.on("update_bettingamount", (data) => { //update the values in betting amount 
    const values = document.getElementById("bettingamount");
    console.log("betting left:", data.left,"\namount betted:",data.betted)
    values.innerHTML=`${data.left}`;

  });


  const createMessage = (name, msg) => {
    const content = `
    <div class="text">
        <span>
            <strong>${name}</strong>: ${msg}
        </span>
    </div>
    `;
    messages.innerHTML += content;
  };

  socketio.on("message", (data) => {
    createMessage(data.name, data.message);
  });

  const sendMessage = () => {
    const message = document.getElementById("message");
    if (message.value == "") return;
    socketio.emit("message", { data: message.value });
    message.value = "";
  };


  const check = () => {
    let sesdata =sessionStorage.getItem("Pos")
    let sesturn =sessionStorage.getItem("your_turn")
    console.log(sesturn)
    socketio.emit("button", {data: "check", Pos: sesdata, your_turn: sesturn});
  };

  const bet = () => {
    let sesdata =sessionStorage.getItem("Pos")
    let sesturn =sessionStorage.getItem("your_turn")
    const bet = document.getElementById("bet");
    console.log(sesturn)
    if (bet.value == "") return;
    socketio.emit("button", {data: bet.value, Pos: sesdata, your_turn: sesturn});
    message.value = "";
  };

  const fold = () => {
    let sesdata =sessionStorage.getItem("Pos")
    let sesturn =sessionStorage.getItem("your_turn")
    console.log(sesturn)
    socketio.emit("button", {data: "fold", Pos: sesdata, your_turn: sesturn});
  };

</script>
</div>


{% endblock %}