{% extends 'base.html' %} 
{% block content %}
<div class="roomsite">
  <div class="message-box">
  <h2>Room: {{code}}</h2>
  <h4 id="maxplayer">Players: 1/8</h4>
  <h4 id="bettingamount"></h4>
  <div class="messages" id="messages"></div>
  <div class="inputs">
    <input type="text" rows="3" placeholder="Message" name="message" id="message"/>
    <button type="button"  name="send" id="send-btn" onClick="sendMessage()">
      Send
    </button>
      <p> Bet: <input type = "text" name = "bet" id="bet" /></p>
      <button type="button" name="betbutton" id="check-button" onClick="bet()">Bet </button>
      <button type="button" name="check" id="check-button" onClick="check()">Check </button>
      <button type="button" name="fold" id="fold-button" onClick="fold()">Fold </button>
  </div>
</div>


<script type="text/javascript">

  var socketio = io();

  const messages = document.getElementById("messages");

  socketio.on("TurnsInPoker", (data)=>{
    console.log("reaches here", data.NextP, data.PrevP)

    socketio.emit("NextPlayer", {NextP: data.NextP, PrevP: data.PrevP})
  })

  socketio.on("button_response", (data)=> {
    console.log(data.response)

  });

  socketio.on("update_values", (data) => { //update the values in maxplayer count 
    const values = document.getElementById("maxplayer");
    console.log(data.data)
    values.innerHTML=`Players: ${data.data}/8`;

  });

  socketio.on("update_bettingamount", (data) => { //update the values in betting amount 
    const values = document.getElementById("bettingamount");
    console.log(data.data)
    values.innerHTML=`${data.data}`;

  });


  const createMessage = (name, msg) => {
    const content = `
    <div class="text">
        <span>
            <strong>${name}</strong>: ${msg}
        </span>
    </div>
    `;
    messages.innerHTML += content;
  };

  socketio.on("message", (data) => {
    createMessage(data.name, data.message);
  });

  const sendMessage = () => {
    const message = document.getElementById("message");
    if (message.value == "") return;
    socketio.emit("message", { data: message.value });
    message.value = "";
  };


  const check = () => {
    socketio.emit("button", {data: "check"});
  };

  const bet = () => {
    const bet = document.getElementById("bet");
    if (bet.value == "") return;
    socketio.emit("button", {data: bet.value});
    message.value = "";
  };

  const fold = () => {
    socketio.emit("button", {data: "fold"});
  };

</script>
</div>


{% endblock %}